@font-face {
  font-family: vazir-bold;
  src: url(../fonts/Vazir-Bold.ttf) format("truetype");
}
@font-face {
  font-family: vazir-light;
  src: url(../fonts/Vazir-Light.ttf) format("truetype");
}
@font-face {
  font-family: IRANSans-Medium;
  src: url(../fonts/IRANSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: IRANSans-UltraLight;
  src: url(../fonts/IRANSans-UltraLight.ttf) format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  direction: rtl;
  text-align: right;
}
 body {
  font-family: IRANSans-Medium;
  overflow-x: hidden;
  width: 100%;
  background-color: #f6f7ff !important;
  
}
html{

}
.container {
  padding: 0px 5px !important;
}
a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
b {
  font-family: IRANSans-Medium;
  font-weight: 650 !important;
  font-size: 15px !important;
}
li {
  position: relative;
}
.contact-show-hide {
  opacity: 0;
  transform: translateY(100px);
  opacity: 0;
  visibility: hidden;

  transition: all 0.5s;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px !important;
  font-size: 15px !important;
  font-size: 14px !important;
  font-family: IRANSans-Medium;
  margin-left: 4px;
  text-align: center;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #fff !important;
  text-decoration: none;
}
.btn.btn-rounded {
  border-radius: 100px !important;
}
.btn-primary {
  color: #fff;
  background-color: #ff5959 !important;
  border: 2px solid transparent !important;
}
.btn-secondary {
  color: #fff;
  border: 2px solid #fff !important;
}
.btn-bg-color {
  background: #4a63e7;
  color: #fff;
}
.site-wrapper {
  transition: transform 0.3s ease-in-out;
}
.nav-top {
  position: sticky;
  top: 10px;
  display: none;
  width: 97%;
  background-color: #4a63e7;
  margin: 15px auto 0 auto;
  padding: 15px;
  border: 3px solid #fff;
  border-radius: 20px;
  z-index: 4;
}
.nav-top .nav-top-header {
  display: flex;
  
  align-items: center;
}
.nav-top .dropdownMeno-title {
  display: flex;
  color: #fff;
  align-items: center;
}
.nav-top .dropdownMeno-title i {
  font-size: 40px;
}
.nav-top .dropdownMeno-title .name_title {
  font-size: 20px;
  margin-right: 20px;
}
.dropmenu {
  width: 32px;
}
.dropmenu rect {
  width: 32px;
  fill: #fff;

  transition: all 0.3s;
}
.nav-top .nightMode-call {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 75px;
  margin-right: auto;
}
.nav-top .nightMode-call .nav-color-mode {
  color: #fff;
  font-size: 20px;
}
.nav-top .nightMode-call .fa-phone {
  color: #fff;
  font-size: 30px;
  margin-bottom: 5px;
}
.slide-right {
  width: 251px;
  display: inline-block;
  color: #fff;
  background: #4a63e7;
  max-height: 590px;
  height: 510px;
  position: sticky;
  top: 15px;
  margin: 10px 34px 0 0;
  border-radius: 20px;
  padding: 10px 0 0 0;
  z-index: 4;
  transition: all 0.05s ease-in-out;
}
.nav-color-mode {
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 12px;
  display: none;
  display: flex;
  width: 18px;
}
.nav-color-mode svg,
.nightMode-call .nav-color-mode svg {
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
  width: 16px;
  fill: #fff;
}
.nightMode-call .nav-color-mode {
  position: static;
  margin-left: 10px;
}
.nightMode-call .phone-icon {
  fill: #fff;
  width: 30px;
}
.img-profile {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  margin: 20px 30px 18px 12px;
}
.img-profile img {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 70px;
  -webkit-border-radius: 70px;
  background: #eee;
}
.name_title {
  display: block;
  position: relative;
  color: #fff;
  font-family: IRANSans-Medium;
  font-size: 19px;
}
.name_title:hover,
.name_title:focus {
  color: #fff;
  text-decoration: none;
}
.slide-right .name_title {
  font-size: 20px;
  margin-right: 30px;
  margin-bottom: 0.14rem;
}
.slide-right .name_title::after,
.dropdownMeno-title .name_title::after {
  position: absolute;
  bottom: 5px;
  content: "";
  background-color: #ff5959;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  height: 6px;
  width: 6px;
}
.profile-role {
  font-size: 12px;
  font-family: IRANSans-UltraLight;
  margin-right: 30px;
}
.content {
  width: 844px;
  margin: 0px 30px 0 1px;
  float: left;
}
#r1:target~.main-menu li::before {
  content: "";
  position: absolute;
  top: 8px;
  right: -30px;
  height: 18px;
  width: 3px;
  background: #ff5959;
}
.content section :target {
}

.main-menu {
  margin: 42px 0px 40px 0;
  max-height: 255px;
  overflow-y: auto;
  padding-right: 30px;
  list-style: none;
  text-align: right;
}
.container .main-menu li.active::before {
  content: "";
  position: absolute;
  top: 8px;
  right: -30px;
  height: 18px;
  width: 3px;
  background: #ff5959;
}
.main-menu li svg {
  width: 16px;
  margin-left: 12px;
  fill: #fff;
  margin-bottom: 2px;
}

.main-menu li a {
  text-decoration: none;
  font-family: IRANSans-Medium;
  color: #fff;
  height: 36px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.socials .social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ff5959;
  border-radius: 29px;
  margin-left: 8px;
}
.footer-nav {
  font-family: IRANSans-Medium;
  font-size: 1.17rem;
  text-align: center;
  margin-top: auto;
  position: absolute;
  bottom: 15px;
  margin: 0 auto;
  width: 100%;
  color: #e8e8e8;
}
.content section {
  height: auto;
  border-radius: 20px;
  margin: 15px 0 50px 0;
  box-shadow: 0px 6px 15px 0px rgb(74 99 231 / 20%);
  padding: 70px 40px 60px;

  background: #fff;

}
#banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #4a63e7;
  height: 510px;
  border-radius: 20px;
  margin-bottom: 50px;
}


#banner img {
  position: absolute;
  top: 0px;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.2;
}
.content-baner{

}
#banner .name_title {
  min-height: 80px;
  font-size: 4.2rem;
  font-family: IRANSans-Medium;
  padding: 2px 2px 0 0 ;
}
#banner .short-explanation h1 {
  min-height:30px ;
  position: relative;
  color: #fff;
  font-size: 14px;
  margin: 1px 0 24px 0;
  font-family: IRANSans-UltraLight;
  font-weight: 600;
  line-height: 1.9em;
  padding-top: 3px;
  opacity: 0;
  transition: 2s;
}

#banner .btn_service_contact-us {
  min-height: 40px;
  position: relative;
  padding-bottom: 1px;
}
#banner .btn_service_contact-us .btn{
  box-sizing: border-box;
  margin-bottom: 1px;
  opacity: 0;
  transition: 2s;
  transition-delay: 0.4s;
}
.title-line {
  position: relative;
  font-family: IRANSans-Medium;
  font-size: 24px;
  margin: 0 12px 75px 0;
  color: #000;
}
.title-line::before {
  position: absolute;
  content: "";
  height: 85%;
  width: 4px;
  right: -12px;
  background: #ff5959;
  top: 50%;
  transform: translateY(-50%);
}
.about-me_info {
  display: flex;
  justify-content: space-between;
}
.about-me_info .img-profile {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  margin: 0 8px 20px 0;
}
.about-me_info .img-profile img {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 150px;
  -webkit-border-radius: 150px;
}
.hello {
  font-family: IRANSans-Medium;
  font-size: 24px;
  margin-bottom: 14px;
  color: #000;
}
h3.text-info {
  line-height: 1.5em;
  font-size: 14px;
  text-align: justify;
  color: #333;
  font-weight: 600;
  margin: 0 0 30px 0;
  line-height: 24px;
  font-family: IRANSans-UltraLight;
}
#about-me .info-me {
  width: 75%;
}
.about-btn .btn-primary {
  padding: 8px 28px !important;
}
.about-btn .btn-bg-color {
  padding: 9px 18px !important;
}
.personal-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#about-me .personal-info {
  margin-bottom: 22px;
}
#about-me .personal-info li {
  width: 50%;
  margin-bottom: 13px;
}
#about-me .personal-info span {
  font-family: IRANSans-UltraLight;
}
#about-me .personal-info b {
  font-family: IRANSans-UltraLight;
}
.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.skill {
  width: 46%;
  height: 36px;
  text-align: left;
  position: relative;
  height: auto;
  margin-bottom: 42px;
}
.skill .header-skill {
  direction: ltr;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12.5px;
}
.skill .header-skill .title-skill {
  display: inline-block;
  font-family: IRANSans-Medium;
  font-weight: bold;
  font-size: 16px;
}
.skill .header-skill .progress-digit {
  color: #777;
  font-family: IRANSans-Medium;
  font-size: 16px;
}
.skill .progress-bar-wrapper {
  position: relative;
  background: #ebebeb;
  height: 3.1px;
}
.skill .progress-bar-wrapper .progress {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  background: #ff5959;
  transition: all 0.6s cubic-bezier(0.905, -0.6, 0.4, 1.65);
}
.skill:nth-child(1) .progress {
  transition-delay: 0.1s;
}

.skill:nth-child(2) .progress {
  transition-delay: 0.2s;
}

.skill:nth-child(3) .progress {
  transition-delay: 0.3s;
}

.skill:nth-child(4) .progress {
  transition-delay: 0.4s;
}

.skill:nth-child(5) .progress {
  transition-delay: 0.5s;
}

.skill:nth-child(6) .progress {
  transition-delay: 0.6s;
}
.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.services-wrapper .service {
  width: 48%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 218px;
  padding: 30px;
  border: 3px solid #e5e5e5;
  margin-bottom: 32px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  transform: translateY(100px);
  opacity: 0;
  visibility: hidden;

  transition: all 0.5s;
}
.services-wrapper .service .icon-services svg {
  width: 42px;
  fill: #ff5959;
  font-size: 40px;
}
.services-wrapper .service h2.services-title {
  font-size: 18px !important;
  font-family: IRANSans-Medium;
  text-align: center;
  margin: 16px 0 25px 0;
}
.services-wrapper .service p.services-description {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  font-family: IRANSans-Medium;

  line-height: 20px;
}
.contant-info-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contant-info-form .contant-us-info {
  width: 35%;
}
.contant-info-form .contant-us-info .content-info {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 46px;
  margin-bottom: 30px;
}
.contant-info-form .contant-us-info .info {
  margin-right: 10px;
}
.contant-info-form .contant-us-info .info li:first-child {
  font-family: IRANSans-Medium;
  font-size: 16px;
  color: #000;
  margin-top: 20px;
}
.contant-info-form .contant-us-info .info li:nth-child(2) {
  font-family: IRANSans-Medium;
  font-weight: 500;
  font-size: 14px;
  color: #888;
  margin-top: 3px;
}
.contant-info-form .contant-us-info .icon-content-us {
  width: 30px;
  fill: #ff5959;
}
.contant-info-form .contant-form {
  width: 65%;
  display: flex;
  flex-direction: column;
}
.contant-info-form .contant-form .btn {
  margin-left: 0;
}
.contant-info-form .contant-form .input {
  border: 2px solid #e3e3e3;
  padding: 9px 24px;
  border-radius: 20px;
  margin-bottom: 15px;
  outline: none;
  font-size: 13px;
  font-family: IRANSans-UltraLight;
}
.contant-info-form .contant-form textarea.input {
  height: 114px;
}
.open-slide {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 1;
  opacity: 0.9;
  visibility: visible;
  transition: all 0.3s linear;
}
.delay{
  transition-delay: 0.2s;
}
.light_theme {
}
.black_theme {

}
@media (min-width: 1367px) {
  .slide-right{
    width: 251.5px;
    margin: 10px 33px 0 0;
  }
  .content{
    width: 843px;
    margin: 0px 30px 0 2px;
  }
  .main-menu li svg {
    margin-left: 11.5px;
    margin-bottom: 0px;
  }
  .main-menu {
    margin: 42px 0px 40px 0;
    padding-right: 31px;
  }
  .container .main-menu li.active::before {
    content: "";
    position: absolute;
    top: 8px;
    right: -31px;
    height: 18px;
    width: 3.5px;
    background: #ff5959;
  }
}
@media (max-width: 1205px) {
  .slide-right {

    margin: 0;
    position: fixed;
    top: 95px;

    margin-right: -270px;
  }
  .slide-right .nav-color-mode{
    display: none;
  }
  .nav-top {
    display: block;
  }
  .container {
    width: 100% !important;

    padding: 0 15px !important;
  }
  .content {
    width: 100% !important;
  }
  .content section {
    width: 100% !important;
  }
}
@media (max-width: 995px) {
  .container {
    width: 100% !important;
    margin: 0 !important;
  }
  .img-profile {

  }
  .content section {
    width: 100% !important;
  }
  .about-me_info {
    display: flex;
    flex-direction: column;
  }
  #about-me .info-me {
    width: 100%;
  }
  #about-me .personal-info li {
    width: 100%;
  }
  h3.text-info {
    font-family: IRANSans-UltraLight;
    line-height: 1.5em;
    font-size: 18px;
  }
  .personal-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about-btn .btn {
    width: 50%;
    min-width: 130px;
    display: block;
    margin-bottom: 15px;
  }
  .skills-wrapper {
    flex-direction: column;
  }
  .skill {
    width: 100%;
  }
  .services-wrapper {
    flex-direction: column;
  }
  .services-wrapper .service {
    width: 100%;
  }
  .contant-info-form {
    flex-direction: column;
  }
  .contant-info-form .contant-form {
    width: 100%;
  }
  .contant-info-form .contant-us-info {
    width: 100%;
  }
}
@media (max-width: 370px) {
  .about-btn .btn {
    width: 100%;
  }
  #banner .btn_service_contact-us .btn {
    width: 100%;
    min-width: 120px;
    margin-bottom: 15px;
  }
  #banner .name_title {
    font-size: 30px;
  }
  #banner .short-explanation h1 {
    font-size: 12px;
  }
  .nav-top .dropdownMeno-title .name_title {
    font-size: 18px;
}
.dropmenu {
  width: 25px;
}
.nightMode-call .phone-icon {
  fill: #fff;
  width: 25px;
}
.nav-top .container{
  padding: 0 !important;
}
.slide-right {
  top: 93px;
}
}
